[Unit]
Description=Lotus Seal Worker
After=lotus-miner.service
Requires=lotus-miner.service

[Service]
ExecStart=/usr/local/bin/lotus-seal-worker run --address 192.168.0.132:23301
Environment=GOLOG_FILE="/home/fox/log/lotus/worker.log"
Environment=GOLOG_LOG_FMT="json"
Environment=FIL_PROOFS_USE_GPU_TREE_BUILDER=1
Environment=FIL_PROOFS_USE_GPU_COLUMN_BUILDER=1
Environment=FIL_PROOFS_MAXIMIZE_CACHING=1
Environment=RUST_LOG=Trace
Environment=LOTUS_STORAGE_PATH=/data1/lotus/miner
Environment=WORKER_PATH=/data1/lotus/worker
Environment=FIL_PROOFS_PARAMETER_CACHE=/data1/proofs

[Install]
WantedBy=multiuser.target